html
  head
    meta charset='utf-8'
    link href='css/style.css' rel='stylesheet'
  body
    markdown:
      # ETR

      ## usecase

      ![usecase:01](diagram/usecase/01/usecase.png)


      ![usecase:02](diagram/usecase/02/usecase.png)


      ![usecase:03](diagram/usecase/03/usecase.png)

      ## object(concept)

      - - -

      ### ui
      ![object](diagram/object/concept/devise/ev3.png)

      ### ev3
      ![object](diagram/object/concept/ui/ui.png)
