!.keep
.metadata
RemoteSystemsTempFiles
.recommenders
/node_modules
/npm-debug.log
/json
/build/*
/bin
# disable
!/build/diagram/activity
!/build/diagram/class
!/build/diagram/object
!/build/diagram/sequence
!/build/diagram/usecase

